<!-- <div ng-controller="ModalDemoCtrl"> -->
    <!-- <script type="text/ng-template" id="myModalContent.html"> -->
        <div class="modal-header">
            <h3 class="modal-title">Compose New Message</h3>
        </div>
        <div class="modal-body">
          Subject:
          <form ng-submit='composeMessage(subject)'>
            <input type='text' ng-model='subject' class='form-control' autofocus>
          </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok(subject)">Compose</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    <!-- </script> -->

    <!-- <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div> -->
<!-- </div> -->
