<div class='button-bar'>
  <a class='btn btn-default btn-checkbox'>
    <i class='fa fa-square-o' ng-show='storage.noneSelected' ng-click='selectAll()'></i>
    <i class='fa fa-check-square-o' ng-show='storage.allSelected' ng-click='deselectAll()'></i>
    <i class='fa fa-minus-square-o' ng-show='storage.someSelected' ng-click='deselectAll()'></i>
  </a>
  <a class='btn btn-default' ng-disabled='storage.noneSelected'>Mark as Read</a>
  <a class='btn btn-default' ng-disabled='storage.noneSelected'>Mark as Unread</a>
  <select class='btn btn-default select-dropdown'>
    <option selected disabled value='Apply Label'>Apply Label</option>
    <option value='Create New'>Create New</option>
  </select>
  <select class='btn btn-default select-dropdown'>
    <option selected disabled value='Remove Label'>Remove Label</option>
  </select>
  <a class='btn btn-default btn-checkbox' ng-disabled='storage.noneSelected'>
    <i class='fa fa-trash-o'></i>
  </a>
</div>
<div class='each-email' ng-repeat='email in emails track by $index'  ng-class="{'selected': storage.selectedArray[$index]}">
  <div class='email-check'>
  <input type='checkbox' ng-checked='storage.selectedArray[$index]' ng-click='selectOne($index, storage)'/>
  </div>
  <i class='fa fa-star-o email-star' ng-show='email.starred === false' ng-click='toggleStarred(email)'></i>
  <i class='fa fa-star email-star' ng-show='email.starred === true' ng-click='toggleStarred(email)'></i>
  <div class='subject' ng-model='subject'>{{email.subject}}</div>
</div>
