<div class='button-bar'>
  <a class='btn btn-default btn-checkbox'>
    <i class='fa fa-square-o' ng-hide='allSelected' ng-click='toggleSelection()'></i>
    <i class='fa fa-check-square-o' ng-show='allSelected' ng-click='toggleSelection()'></i>
  </a>
  <a class='btn btn-default' ng-disabled='!allSelected'>Mark as Read</a>
  <a class='btn btn-default' ng-disabled='!allSelected'>Mark as Unread</a>
  <select class='btn btn-default select-dropdown'>
    <option selected disabled value='Apply Label'>Apply Label</option>
    <option value='Create New'>Create New</option>
  </select>
  <select class='btn btn-default select-dropdown'>
    <option selected disabled value='Remove Label'>Remove Label</option>
  </select>
  <a class='btn btn-default btn-checkbox' ng-disabled='!allSelected'>
    <i class='fa fa-trash-o'></i>
  </a>
</div>
<div class='each-email' ng-repeat='email in emails'>
  <div class='email-check'>
  <input type='checkbox' ng-checked='allSelected' />
  <!-- <i class='fa fa-square-o email-check'></i> -->
  </div>
  <!-- <i class='fa fa-check-square'></i> -->
  <!-- <div> -->
  <i class='fa fa-star-o email-star'></i>
  <!-- </div> -->
  <!-- <i class='fa fa-star'></i> -->
  <div class='subject' ng-model='subject'>{{email.subject}}</div>
</div>
