<div class='header-bar navbar navbar-fixed-top'>
  <img src='nGoogle_logo.png' alt='logo'/>
  <input type='text' class='form-control search' id='query' ng-model='query' />
  <span id='query-icon'><i class='fa fa-search'></i></span>
</div>
<div class='button-bar'>
  <span>nGmail <i class='fa fa-caret-down'></i></span>
  <a class='btn btn-default btn-checkbox'>
    <i class='fa fa-square-o' ng-show='storage.noneSelected' ng-click='selectAll()'></i>
    <i class='fa fa-check-square-o' ng-show='storage.allSelected' ng-click='deselectAll()'></i>
    <i class='fa fa-minus-square-o' ng-show='storage.someSelected' ng-click='deselectAll()'></i>
  </a>
  <a class='btn btn-default' ng-disabled='storage.noneSelected' ng-click='readOrUnread(true); checkUnread()'>Mark as Read</a>
  <a class='btn btn-default' ng-disabled='storage.noneSelected' ng-click='readOrUnread(false); checkUnread()'>Mark as Unread</a>
  <select class='btn btn-default select-dropdown' ng-model='selectedLabel' ng-init='selectedLabel="Apply Label"' ng-change='showLabelInput(selectedLabel); addLabel(selectedLabel)' ng-disabled='storage.noneSelected'>
    <option selected disabled value='Apply Label'>Apply Label</option>
    <option ng-repeat="label in labels" value="{{label}}">{{label}}</option>
    <option value='Create New'>Create New</option>
  </select>
  <select class='btn btn-default select-dropdown' ng-model='labelToRemove' ng-init='labelToRemove="Remove Label"' ng-change='removeLabel(labelToRemove)' ng-disabled='storage.noneSelected'>
    <option selected disabled value='Remove Label'>Remove Label</option>
    <option ng-repeat="label in labels" value="{{label}}">{{label}}</option>
  </select>
  <a class='btn btn-default btn-checkbox' ng-disabled='storage.noneSelected' ng-click='delete()'>
    <i class='fa fa-trash-o'></i>
  </a>
</div>
<div class='sidebar'>
  <a class='btn btn-danger btn-checkbox' id='compose' ng-click='openComposeModal("sm", emails)'>COMPOSE</a>
  <div ng-click='changeFilter("")' ng-class="{'red-text': sidebarFilter === ''}"> Inbox ({{unreadCount}}) </div>
  <div ng-click='changeFilter("starred")' ng-class="{'red-text': sidebarFilter.starred === true}"> Starred </div>
  <div ng-click='changeFilter("unread")' ng-class="{'red-text': sidebarFilter.read === false}"> Unread </div>
</div>
<div class='the-rest'>
  <div class='each-email' ng-repeat='email in (emails | filter : query | filter : sidebarFilter) track by $index | orderBy : email._id'  ng-class="{'selected': storage.selectedArray[$index], 'read': email.read, 'unread': !email.read}">
    <div class='email-check'>
      <input type='checkbox' ng-checked='storage.selectedArray[$index]' ng-click='selectOne($index, storage)'/>
    </div>
    <i class='fa fa-star-o email-star' ng-show='email.starred === false' ng-click='toggleStarred(email)'></i>
    <i class='fa fa-star email-star' ng-show='email.starred === true' ng-click='toggleStarred(email)'></i>
    <div ng-repeat='label in email.filters.sort()' class='labels'>
      {{label}}
    </div>
    <div class='subject' ng-model='subject'>{{email.subject}}</div>
  </div>
</div>
