<div ng-controller="InboxController">
        <div class="modal-header">
            <h3 class="modal-title">Create New Label</h3>
        </div>
        <div class="modal-body">
            <input type='text' ng-model='label' class='form-control' id='label-input-box' autofocus placeholder="Label">
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="ok(label)">Add Label</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </div>
