html{
  padding: 15px;
}

.subject{
  display: inline-block;
}

.button-bar{
  margin-top: 50px;
  margin-bottom: 15px;
}

.button-bar a:first-of-type{
  margin-left: 180px;
}

.button-bar span:first-child{
  font-size: 1.4em;
  color: #E84840;
}

.each-email{
  height: 40px;
  border-bottom: solid 1px #EFEFEF;
  position: relative;
  /*display: flex;*/
  /*flex-direction: column;
  justify-content: center;*/
  /*position: relative;
  top: -50%;*/
  /*vertical-align: middle;*/
}

.each-email div{
  margin-top: 10px;
  /*border: 1px solid red;
  margin-right: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
}

.each-email i{
  /*top: 50%;
  transform: translateY(-50%);*/
}

.email-check{
  display: inline-block;
  margin-right: 10px;
}

.email-star{
  margin-right: 50px;
}

.select-dropdown{
  height: 34px;
  border-radius: 2px;
}

.unread{
  font-weight: bold;
}

.read{
  background-color: #F4F4F4;
}

.selected{
  background-color: #FEFECB;
}

.unread-count{
  display: inline-block;
}

.form-control{
  width: 200px !important;
}

.labels{
  display: inline-block;
  background-color: #EEC967;
  padding: 2px;
  font-weight: normal;
  margin-right: 3px;
  border-radius: 2px;
}

.header-bar{
  height: 60px;
  background-color: #F4F4F4;
  border-bottom: solid 1px #EFEFEF;
  /*margin: 0 !important;*/
  margin-bottom: 10px;
  padding: 0px !important;
}

.header-bar img{
  height: 50%;
  margin-top: 17px;
  margin-left: 15px;
}

.btn{
  border-radius: 2px;
  font-weight: bold;
  font-size: .9em;
}

select{
  border-radius: 2px;
}

.sidebar{
  display: inline-block;
  width: 20%;
  border: 2px solid red;
  vertical-align: top;
}

.the-rest{
  display: inline-block;
  width: 78%;
  border: 2px solid black;
}

#compose{
  vertical-align: top;
}
