html{
  padding: 15px;
}

.subject{
  display: inline-block;
}

.button-bar{
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 10px;
  border-bottom: solid 1px #EFEFEF;
  padding-bottom: 8px;
  padding-top: 6px;
}

.button-bar a:first-of-type{
  margin-left: 72px;
}

.button-bar span:first-child{
  font-size: 1.4em;
  color: #E84840;/
}

.each-email{
  height: 40px;
  border-bottom: solid 1px #EFEFEF;
  position: relative;
  /*display: flex;*/
  /*flex-direction: column;
  justify-content: center;*/
  /*position: relative;
  top: -50%;*/
  /*vertical-align: middle;*/
}

.each-email div{
  margin-top: 10px;
  /*border: 1px solid red;
  margin-right: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
}

.each-email i{
  /*top: 50%;
  transform: translateY(-50%);*/
}

.email-check{
  display: inline-block;
  margin-right: 10px;
}

.email-check{
  margin-left: 20px;
}

.email-star{
  margin-right: 50px;
}

.select-dropdown{
  height: 34px;
  border-radius: 2px;
}

.unread{
  font-weight: bold;
}

.read{
  background-color: #F4F4F4;
}

.selected{
  background-color: #FEFECB;
}

.unread-count{
  display: inline-block;
}

#query{
  border-radius: 0px;
  display: inline-block;
  width: 600px !important;
  margin-top: 12px;
  margin-left: 47px;
}

.labels{
  display: inline-block;
  background-color: #EEC967;
  padding: 2px;
  font-weight: normal;
  margin-right: 3px;
  border-radius: 2px;
}

.header-bar{
  height: 60px;
  background-color: #F4F4F4;
  border-bottom: solid 1px #EFEFEF;
  /*margin: 0 !important;*/
  margin-bottom: 10px;
  padding: 0px !important;
}

.header-bar img{
  height: 50%;
  /*margin-top: 17px;*/
  margin-left: 22px;
}

.btn{
  border-radius: 2px;
  font-weight: bold;
  font-size: .9em;
}

select{
  border-radius: 2px;
  -webkit-border-radius: 2px;
  /*-webkit-appearance: none;*/
  /*border: 0;
  outline: 1px inset LightGrey;
  outline-offset:-1px;*/
}

.sidebar{
  display: inline-block;
  width: 12%;
  vertical-align: top;
  margin-left: 10px;
}

.sidebar div{
  font-weight: bold;
  font-size: .9em;
  margin-top: 10px;
}
.sidebar div:hover{
  cursor: pointer;
}

.red-text{
  color: #E84840;
}

.the-rest{
  display: inline-block;
  width: 80%;
}

#compose{
  vertical-align: top;
  font-size: .8em;
  padding-left: 25px;
  padding-right: 25px;
}

#compose-input-box{
  width: 100%;
  border-radius: 0px;
}

.modal-content{
  border-radius: 0px;
  margin-top: 30%;
}

.modal-header, .modal-footer{
  /*background-color: #EFEFEF;*/
}
